<div class="container">
  <div class="card">
    <div class="card-header">
      <h2 class="display-5">Reactive Form Demo</h2>
    </div>
    <div class="card-footer">
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        dignissimos quas laboriosam dolorem nostrum? Impedit, obcaecati delectus
        laudantium placeat ipsam, ut debitis iste iure odit voluptas temporibus
        a. Veniam, fugiat!Commodi impedit, magni consectetur rem voluptate
        cupiditate iure eius illum similique earum aliquid amet minus dolorum ad
        id quia est dignissimos quos maiores. Assumenda, optio pariatur voluptas
        sed voluptate reprehenderit.
      </p>
    </div>
    <div class="card-footer">
      &copy; Jamal 2019
    </div>
  </div>
</div>
